.Navi {
  height: 180px;
  background: linear-gradient(-45deg, #a10d08, #f05832, #db3c3c, #d68353);
  /* background-size: 400% 400%; */
  background-size: 250px;
  background-repeat: no-repeat;
  animation: gradient 12s ease infinite;
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/70643e0f-c6fc-4b32-8403-8978afd31dc8/d3gallt-a5c09c4f-298c-4f56-855d-bc084f1ce783.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzcwNjQzZTBmLWM2ZmMtNGIzMi04NDAzLTg5NzhhZmQzMWRjOFwvZDNnYWxsdC1hNWMwOWM0Zi0yOThjLTRmNTYtODU1ZC1iYzA4NGYxY2U3ODMuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.zlN84HkarF98OMUp80WF9BTd6vK6l7sg2oTQY7ipbf4");
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.col-auto {
  display: flex;
  justify-content: center;
  margin-top: -90px;
  margin-left: 900px;
}
.boton {
  display: flex;
  justify-content: center;
  margin-top: -90px;
}

.imagenPokemon {
  width: 220px;
  height: 170px;
  margin-right: 1200px;
}
